{% extends 'base.html' %}
{% block head %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/smoothness/jquery-ui.css">
    <script>
        $(function () {

            var name = [
                'Алан', 'Александр', 'Алексей', 'Альберт', 'Анатолий', 'Андрей', 'Антон', 'Арсен', 'Арсений', 'Артем',
                'Артемий', 'Артур', 'Богдан', 'Борис', 'Вадим', 'Валентин', 'Валерий', 'Василий', 'Виктор', 'Виталий',
                'Владимир', 'Владислав', 'Всеволод', 'Вячеслав', 'Геннадий', 'Георгий', 'Герман', 'Глеб', 'Гордей',
                'Григорий', 'Давид', 'Дамир', 'Даниил', 'Демид', 'Демьян', 'Денис', 'Дмитрий', 'Евгений', 'Егор',
                'Елисей', 'Захар', 'Иван', 'Игнат', 'Игорь', 'Илья', 'Ильяс', 'Камиль', 'Карим', 'Кирилл', 'Клим',
                'Константин', 'Лев', 'Леонид', 'Макар', 'Максим', 'Марат', 'Марк', 'Марсель', 'Матвей', 'Мирон',
                'Мирослав', 'Михаил', 'Назар', 'Никита', 'Николай', 'Олег', 'Павел', 'Петр', 'Платон', 'Прохор',
                'Рамиль', 'Ратмир', 'Ринат', 'Роберт', 'Родион', 'Роман', 'Ростислав', 'Руслан', 'Рустам', 'Савва',
                'Савелий', 'Святослав', 'Семен', 'Сергей', 'Станислав', 'Степан', 'Тамерлан', 'Тимофей', 'Тимур',
                'Тихон', 'Федор', 'Филипп', 'Шамиль', 'Эдуард', 'Эльдар', 'Эмиль', 'Эрик', 'Юрий', 'Ян', 'Ярослав',
                'Агата', 'Агния', 'Аделина', 'Аида', 'Аксинья', 'Александра', 'Алена', 'Алина', 'Алиса', 'Алия',
                'Алла', 'Альбина', 'Амелия', 'Амина', 'Анастасия', 'Ангелина', 'Анна', 'Антонина', 'Ариана', 'Арина',
                'Валентина', 'Валерия', 'Варвара', 'Василина', 'Василиса', 'Вера', 'Вероника', 'Виктория', 'Виолетта',
                'Владислава', 'Галина', 'Дарина', 'Дарья', 'Диана', 'Дина', 'Ева', 'Евангелина', 'Евгения',
                'Екатерина', 'Елена', 'Елизавета', 'Есения', 'Жанна', 'Зарина', 'Злата', 'Илона', 'Инна', 'Ирина',
                'Камилла', 'Карина', 'Каролина', 'Кира', 'Клавдия', 'Кристина', 'Ксения', 'Лариса', 'Лейла', 'Лиана',
                'Лидия', 'Лилия', 'Лина', 'Лия', 'Любовь', 'Людмила', 'Майя', 'Маргарита', 'Марианна', 'Марина',
                'Мария', 'Мелания', 'Мила', 'Милана', 'Милена', 'Мирослава', 'Надежда', 'Наталья', 'Нелли', 'Ника',
                'Нина', 'Оксана', 'Олеся', 'Ольга', 'Полина', 'Регина', 'Сабина', 'Светлана', 'София', 'Стефания',
                'Таисия', 'Тамара', 'Татьяна', 'Ульяна', 'Эвелина', 'Элина', 'Эльвира', 'Эльмира', 'Эмилия', 'Юлия',
                'Яна', 'Ярослава',
            ]


            $('#id_first_name').autocomplete({
                source: name

            })
        });
    </script>
{% endblock %}

{% block title %}
    Добавление {{ var }}
{% endblock %}

{% block body %}
    <div class="container">
        <form method="post">

            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="ok">
        </form>
    </div>
{% endblock %}